.venv/
venv*/
__pycache__/
.pytest_cache/
*.py[cod]
*.log
signals_log.csv
/config.py
.env
.env.*
!.env.example
*.sqlite*
*.db*
data/
!crypto_bot/data/
build/
dist/
*.egg-info/
.coverage
/config/scanner.json
.ruff_cache/
/config/paper.json
